* {
    padding: 0;
    margin: 0;
}

body{
  background-color: #E2F9B8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow: hidden;
    background-color: #313715;
}

li {
    float: left;
}

li a {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

h1{
  font-size: 40px;
  margin-top: 80px;
  text-align: center;
  color: #939F5C;
}

p{
  color: #575C55;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}

a{
  text-decoration: none;
}
img{
  display: block;
  margin: auto;
  margin-top: 5%;
}

footer {
  margin-top: 2%;
  background-color: #313715;
  padding: 14px 16px;
  text-align: center;
}

footer p {
  color: #E2F9B8;
  margin: auto;
}

#fotoContacto{
  margin-bottom: 3%;
}

table, td, th {
    border: 1px solid #313715;
    text-align: left;
}

table {
    margin-top: 5%;
    margin-bottom: 6%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 15px;
}
